name: Main workflow
on:
  push:
    branches: ['main']
  pull_request:
    types: ['opened', 'synchronize']
jobs:
  main:
    runs-on: ubuntu-latest
    name: A job to test workflow
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm run test
      - name: Build package
        run: npm run build
      - name: Testing rush changed packages action
        env:
          project1: '{"packageName": "project1","projectFolder": "__mocks__/projects/project1"}'
          project2: '{"packageName": "project2","projectFolder": "__mocks__/projects/project2"}'
          project3: '{"packageName": "project3","projectFolder": "__mocks__/projects/project3","shouldPublish": true}'
          project4: '{"packageName": "project4","projectFolder": "__mocks__/projects/project4","shouldPublish": true}'
        uses: ./ # Uses an action in the root directory
        id: test
        with:
          rushProjects: '[${{ env.project1 }}, ${{ env.project2 }}, ${{ env.project3 }}, ${{ env.project24 }}]'
      - name: Check AWS projects
        env:
          projects: ${{ steps.test.outputs.aws }}
        uses: actions/github-script@v5
        with:
          script: |
            const script = require('./.github/scripts/tests/validate_rush_projects.js')
            script(core, process.env.projects, ["project1", "project2"])
      - name: Check K8s projects
        env:
          projects: ${{ steps.test.outputs.k8s }}
        uses: actions/github-script@v5
        with:
          script: |
            const script = require('./.github/scripts/tests/validate_rush_projects.js')
            script(core, process.env.projects, ["project3"])
      - name: Check NPM projects
        env:
          projects: ${{ steps.test.outputs.npmPublish }}
        uses: actions/github-script@v5
        with:
          script: |
            const script = require('./.github/scripts/tests/validate_rush_projects.js')
            script(core, process.env.projects, ["project3", "project4"])
